
<div class="mat-elevation-z8">
    
    <div class="description">
        <h4 class="table-title">Users</h4>
        <button (click)="addUserModal()" mat-raised-button color="primary" aria-label="Add User">Add User</button>
    </div>

    <div class="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Serach</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="David" #input>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="listData" matSort >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="profile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile </th>
            <td mat-cell *matCellDef="let element"> <img *ngIf="element.profile"  src="{{element.profile}}" class="w-20 h-20">  </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="accent" aria-label="Edit" (click)="editUser(element)"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab color="warn" aria-label="Delete" (click)="delete(element)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
      </mat-paginator>

</div>
    