<div style="width: 100%;">
    <form [formGroup]="newUserForm" (ngSubmit)="addUser()">

        <mat-card class="login-card mat-elevation-z9">
            <mat-card-title> {{actionBtn}}  </mat-card-title>
          <mat-card-content>
            <div>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Username" formControlName="username" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
            </div>
     
            <div formGroupName="address">
                <h4> -- Address -- </h4>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Street" formControlName="street" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Suite" formControlName="suite" required>
                </mat-form-field>
                
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="City" formControlName="city" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Zipcode" formControlName="zipcode" required>
                </mat-form-field>
                    <h4> -- Geo -- </h4>
                    <div formGroupName="geo">
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Lattitide" formControlName="lat" required>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Longtitude" formControlName="lng" required>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Phone" formControlName="phone" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Website" formControlName="website" required>
                </mat-form-field>
            </div>

            <div formGroupName="company">
                <h4> -- Company -- </h4>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Company Name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="catchPhrase" formControlName="catchPhrase" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="bs" formControlName="bs" required>
                </mat-form-field>
            </div>

           </mat-card-content>

           <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!newUserForm.valid || !newUserForm.touched">{{actionBtn}}</button>
            <button mat-raised-button color="warn" type="reset" [disabled]="!newUserForm.touched">Reset</button>
          </mat-card-actions>
        </mat-card>

    </form>
</div>